<form action="<%= actionUrl %><%= getPostQueryString(true) %>" method="post">
  <fieldset>
    <div class="row">
      <div class="col-8">
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-3">
            <input type="password" id="deletePassword" name="deletePassword" value="" class="form-control <%= (commentError._id == comment.id && errors.password)?'is-invalid':'' %>">
          </div>
        </div>
      </div>
      <div class="col-4">
        <% if(comment.id) { %>
          <button type="submit" class="btn btn-primary h-100 mr-2 pl-4 pr-4">Submit</button>
          <a href="javascript:void(0)" onclick="$('#comment-<%= comment.id %>').removeClass('comment-password-enabled')">Cancel</a>
        <% } %>
      </div>
    </div>
    <% if(errors.password) { %>
      <span class="invalid-feedback d-block"><%= errors.deletePassword %></span>
    <% } %>
  </fieldset>
</form>
