<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/home/<%= id %>/select"><%= title.name %></a></li>
          <% if(data == null || data.length == 0) { %>
            <li class="breadcrumb-item active" aria-current="page">No data</li>
          <% } else { %>
            <li class="breadcrumb-item active" aria-current="page">Result</li>
          <% } %>
        </ol>
      </nav>

      <% if(data == null || data.length == 0){ %>
        <p> There is no data to show :( </p>
      <% } else { %>

        <h2 class="mb-3"><%= title.name %></h2>

        <% if (file) { %>
          <div class="embed-responsive embed-responsive-16by9">
            <video controls class="embed-responsive-item" >
              <!--<source src="/video/<%= title.name %>/<%= data.cpu %>/<%= data.gpu %>/<%= data.resolution %>.mp4" type="video/mp4"> -->
              <source src="/video/<%= file.serverFileName %>" type="video/mp4">
                <strong>Your browser does not support the video tag.</strong>
            </video>
          </div>
        <% } %>


        <% var field = Object.keys(data) %>
        <div class="form-group row">
          <% field.forEach(function(field, index) { %>
            <% if(data[field]) { %>
              <% if(field == 'title') {%>

              <%} else if(field == 'S144hz') {%>
                <label for="fieldname" class="col-sm-3 col-form-label">144Hz 방어</label>
                <% if(data[field] == true) {%>
                  <div class="col-sm-9">
                    <input type="text" id="datafield" name="datafield" value="가능" class="form-control" disabled>
                  </div>
                <% } else { %>
                  <div class="col-sm-9">
                    <input type="text" id="datafield" name="datafield" value="불가능" class="form-control" disabled>
                  </div>
                <% } %>
              <%} else {%>
                <% if(field == 'gnumber' || field == 'numId') { %>
                <% } else { %>
                  <label for="fieldname" class="col-sm-3 col-form-label"><%= fieldName[field] %></label>
                  <div class="col-sm-9">
                    <input type="text" id="<%= fieldName[field] %>" name="<%= fieldName[field] %>" value="<%= data[field] %>" class="form-control" disabled>
                  </div>
                <% } %>
              <% } %>
            <% } %>
          <% }); %>
        </div>

      <% } %>

      <div>
        <a class="btn btn-primary" href="/home/<%= id %>/select">Back</a>
        <% if(isAuthenticated){ %>
          <a class="btn btn-primary" href="/home/<%= data.numId %>/resultEdit %>">Edit</a>
          <form action="/home/<%= id %>?_method=delete" method="post" class="d-inline">
            <input display: hidden id="cpu" name="cpu" value="<%= cpu %>" />
            <input display: hidden id="gpu" name="gpu" value="<%= gpu %>" />
            <input display: hidden id="resolution" name="resolution" value="<%= resolution %>" />
            <button type='submit' class="btn btn-primary" href="javascript:void(0)" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</button>
          </from>
        <% } %>
      </div>

    </div>
  </body>
</html>
